<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="org.joda.time.DateTime" alias="DateTime"/>
        <typeAlias type="java.lang.Long" alias="Long"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler javaType="Long" jdbcType="TIMESTAMP"
                     handler="com.example.mybatis.typehandle.JodaLong2TimestampTypeHandler"></typeHandler>
    </typeHandlers>

</configuration>